{% extends "index.html" %}
{% block title %}Intranet{% endblock %}
{% set title = 'intranet' %}

{% block content %}
	<div>
		{% from "_macros.html" import flashes %}
		{{ flashes() }}
	</div>
	<div class="wrapper cfx">
		<div>
			<ul id="nav">
				<li {% if option == 'Richtingen' %}class="active"{% endif %}><a href="{{ url_for('intranet') }}/richtingen">Richtingen</a></li>
				<li {% if option == 'Klassen' %}class="active"{% endif %}><a href="{{ url_for('intranet') }}/klassen">Klassen</a></li>
				<li {% if option == 'Leraren' %}class="active"{% endif %}><a href="{{ url_for('intranet') }}/leraren">Leraren</a></li>			
			</ul>
		</div>
		<div>
			{% if option == 'richtingen' %}
			<h4>Nieuw:</h4>
			<form method="post" action="{{ url_for('intranet') }}" class="new">
				<p><input type="submit" name='button' value="Richting Aanmaken">
				{% from "_macros.html" import render_field %}
				<dl>
					{{ render_field(richtingForm.naam) }}
					{{ render_field(richtingForm.description) }}
				</dl>
			</form>
			<ul class="study cfx">
				{% for richting in aanbodArray %}
				<li>
					<div>
						<form method="post" action="{{ url_for('intranet') }}" class="delete">
							<p><input type="submit" name='button' value="Delete Richting" class="deletebtn"></p>
							<input name="delete-id" value="{% for info in richting %}{% if loop.index == 1 %}{{ info }}{% endif %}{% endfor %}" type="hidden">
							<!-- https://stackoverflow.com/questions/32022568/get-value-of-a-form-id-python-flask -->
						</form>
						<button class="dropdown"><h3><span>></span>{% for info in richting %}{% if loop.index == 2 %}{{ info }}{% endif %}{% endfor %}</h3></button>
						<p>{% for info in richting %}{% if loop.index == 3 %}{{ info }}{% endif %}{% endfor %}</p>
					</div>
				</li>
				{% endfor %}
			</ul>

			{% elif option == 'klassen'%}
			<h4>Nieuw:</h4>
			<form method="post" action="{{ url_for('intranet') }}" class="new">
				<p><input type="submit" name='button' value="Klas Aanmaken">
				{% from "_macros.html" import render_field %}
				<dl>
					{{ render_field(klasForm.jaar) }}
					{{ render_field(klasForm.richting) }}
				</dl>
			</form>
			<ul class="klassen">
				{% for klas in klasArray %}
				<li>
					<form method="post" action="{{ url_for('intranet') }}" class="delete">
						<p><input type="submit" name='button' value="Delete Klas" class="deletebtn"></p>
						<input name="delete-id" value="{% for info in klas %}{% if loop.index == 1 %}{{ info }}{% endif %}{% endfor %}" type="hidden">
						<!-- https://stackoverflow.com/questions/32022568/get-value-of-a-form-id-python-flask -->
					</form>
					<p>{% for info in klas %}{% if loop.index == 2 %}{{ info }}{% endif %}{% endfor %} {% for info in klas %}{% if loop.index == 3 %}{{ info }}{% endif %}{% endfor %}</p>
				</li>
				{% endfor %}
			</ul>

			{% elif option == 'leraren' %}
			<h4>Nieuw:</h4>
			<form method="post" action="{{ url_for('intranet') }}" class="new">
				<p><input type="submit" name='button' value="Leraar Aanmaken">
				{% from "_macros.html" import render_field %}
				<dl>
					{{ render_field(leraarForm.voornaam) }}
					{{ render_field(leraarForm.achternaam) }}
					{{ render_field(leraarForm.email) }}
					{{ render_field(leraarForm.vakken) }}
				</dl>
			</form>
			<ul class="people">
				{% for leraar in leraarArray %}
				<li>
					<img src="../static/img/leraren/{% for info in leraar %}{% if loop.index == 2 %}{{info}}{% endif %}{% endfor %}-{% for info in leraar %}{% if loop.index == 3 %}{{info}}{% endif %}{% endfor %}.jpg" 
					alt="{% for info in leraar %}{% if loop.index == 2 %}{{info}}{% endif %}{% endfor %} {% for info in leraar %}{% if loop.index == 3 %}{{info}}{% endif %}{% endfor %}">
					<div>
						<h3>{% for info in leraar %}{% if loop.index == 2 %}{{ info }}{% endif %} {% if loop.index == 3 %}{{ info }}{% endif %}{% endfor %}</h3>
						{% for info in leraar %}
							{% if loop.index == 4 %}<p>E-mail: <a href="mailto:{{ info }}">{{ info }}</a></p>{% endif %}
							{% if loop.index == 5 %}
								<p>Geeft les in: {{info}}</p>
							{% endif %}
						{% endfor %}

					</div>
					<form method="post" action="{{ url_for('intranet') }}" class="delete">
						<p><input type="submit" name='button' value="Delete Leraar" class="deletebtn"></p>
						<input name="delete-id" value="{% for info in leraar %}{% if loop.index == 1 %}{{ info }}{% endif %}{% endfor %}" type="hidden">
						<!-- https://stackoverflow.com/questions/32022568/get-value-of-a-form-id-python-flask -->
					</form>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
	</div>
{% endblock %}